@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

* {
  box-sizing: border-box;
}

.navbar {
  background-color: #f55a5a;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ccc;
  width: 550px;
  height: 55px;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 14.46px;
  font-weight: 500;
}

.logo {
  width: 24px;
  height: 24px;
}

.card {
  display: flex;
  margin: 30px 0 20px 20px;
  max-width: 550px;
}

.img--div {
  max-width: 100%;
}

.card--img {
  width: 125px;
  height: 168px;
  object-fit: cover;
  border-radius: 9px;
}

.card--content {
  padding-left: 20px;
}

.info-top {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.location {
  margin-right: 10px;
  font-family: "Inter", sans-serif;
  font-size: 10.24px;
  font-weight: 400;
  letter-spacing: 0.17em;
  line-height: 12px;
}

.location-pin {
  width: 12px;
  height: 12px;
  margin-right: 5px;
}

.search {
  margin-right: 10px;
  font-family: "Inter", sans-serif;
  font-size: 10.24px;
  font-weight: 400;
  letter-spacing: 0.17em;
  line-height: 12px;
  color: #918e9b;
}

.title {
  margin-top: -13px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}

.date {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 10.24px;
  line-height: 12px;
  color: #2b283a;
}

.description {
  font-family: "Inter", sans-serif;
  font-size: 10.24px;
  font-weight: 400;
  line-height: 150%;
  color: #2b283a;
}

.line {
  margin: 0px 0px 20px 20px;
  position: absolute;
  width: 550px;
  height: 0px;
  border-top: 1px #f5f5f5;
}
